<div class="footer-wrapper">
    <a href="https://drive.google.com/file/d/1aKai-oC0sTsBwZWrE1D0BXO67JLrVdER/view?usp=sharing" target="_blank" download="cv-joel-wafo.pdf">
        <p-button
            label="Mon CV"
            icon="pi pi-cloud-download"
            iconPos="right"
            [rounded]="true"
            severity="success" />
    </a>
    <div class="social flex items-center justify-center gap-4">
      <a href="https://github.com/Watojo78/" target="_blank">
        <i class="fi fi-brands-github"></i>
      </a>
      <a href="https://linkedin.com/in/wafo-joël/" target="_blank">
        <i class="fi fi-brands-linkedin"></i>
      </a>
      <a href="tel:+237651113950" target="_blank">
        <i class="fi fi-brands-whatsapp"></i>
      </a>
    </div>
</div>
