<div class="flex flex-col md:flex-row items-center justify-between py-4 px-16 md:px-16 lg:px-28">
    <a
      class="hidden md:block"
      href="https://drive.google.com/file/d/1Hqp9BzA03G3OriZu2d82B3HxnSrstCar/view"
      target="_blank"
      download="cv-joel-wafo.pdf">
        <p-button
            label="Mon CV"
            icon="pi pi-cloud-download"
            iconPos="right"
            [rounded]="true"
            severity="success"/>
    </a>
    <div class="social flex items-center justify-center gap-4">
      <a href="https://github.com/Watojo78/" target="_blank">
        <i class="fi fi-brands-github"></i>
      </a>
      <a href="https://linkedin.com/in/wafo-joel/" target="_blank">
        <i class="fi fi-brands-linkedin"></i>
      </a>
      <a href="tel:+12638817021" target="_blank">
        <i class="fi fi-brands-whatsapp"></i>
      </a>
    </div>
</div>
