.footer{
  &-wrapper{
      display: flex;
      align-items: center;
      padding: .7rem 7rem;
      justify-content: space-between;

      &>p{
          display: flex;
          align-items: center;
          justify-content: center;            

          i{
              padding: .28rem;
              display: flex;
              align-items: center;
              justify-content: center;
          }

          i.fi.fi-sr-heart{
              color: red;
          }
      }
  }
}

