<p-toast position="bottom-right"/>
<div id="contact" class="flex flex-col gap-8 w-full">
    <div class="flex items-center justify-center">
        <h3 class="flex items-center gap-4 text-center text-[28px]">
            <i class="hidden md:block fi fi-sr-attribution-pencil"></i>
            <span>Prêt à insuffler vie à votre projet web ? Contactez-moi !</span>
            <img
              src="../../../../../assets/icons/face-smile-upside-down.svg"
              alt="face-smile-upside-down.svg"
              height="28"
              class="hidden md:block"/>
        </h3>
    </div>
    <div class="contact-nfos flex flex-col md:flex-row items-center justify-center gap-4">
        <a class="email" href="mailto:+wtjoel27@gmail.com">
            <i class="fi fi-sr-envelope"></i>
            <span>wtjoel27&#64;gmail.com</span>
        </a>
        <a class="phone" href="tel:+12638817021">
            <i class="fi fi-sr-mobile-button"></i>
            <span>263-881-7021</span>
        </a>
    </div>
    <div class="contact-form-wrapper relative gap-4 min-h-[425px] flex flex-col xl:flex-row">
        <div class="contact-form-illus flex justify-center items-center overflow-hidden w-full min-h-[425px] max-h-[425px] rounded-[28px]">
            <img
              src="../../../../../assets/images/male-postman_w1000.png"
              alt="postman-front"
              class="mt-[28rem]">
        </div>
        <form
          class="contact-form flex flex-col w-full gap-4 md:gap-1 items-center justify-between"
          [formGroup]="contactForm"
          (ngSubmit)="onSubmit()">
            <p-floatlabel variant="in">
                <input
                    type="text"
                    pInputText
                    formControlName="name"
                    required>
                <label for="username">Nom</label>
            </p-floatlabel>
            <p-floatlabel variant="in">
                <input
                    type="email"
                    pInputText
                    formControlName="email"
                    required>
                <label for="email">Adresse Mail</label>
            </p-floatlabel>
            <p-floatlabel variant="in">
                <textarea
                    pTextarea
                    formControlName="message"
                    required>
                </textarea>
                <label for="message">Message</label>
            </p-floatlabel>
            <div class="sendinfos-wrapper w-full">
                <p-button
                    type="submit"
                    severity="contrast"
                    class="send">
                    <span>Envoyer un message</span>
                    <i class="fi fi-sr-paper-plane"></i>
                </p-button>
            </div>
        </form>
    </div>
</div>
