@font-face {
    font-family: 'Samsung Sharp Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Samsung Sharp Sans'), url('https://fonts.cdnfonts.com/s/17880/samsungsharpsans.woff') format('woff');
}
@font-face {
    font-family: 'Samsung Sharp Sans';
    font-style: normal;
    font-weight: 500;
    src: local('Samsung Sharp Sans Medium'), url('https://fonts.cdnfonts.com/s/17880/samsungsharpsans-medium.woff') format('woff');
}
@font-face {
    font-family: 'Samsung Sharp Sans Bold';
    font-style: normal;
    font-weight: 700;
    src: local('Samsung Sharp Sans'), url('https://fonts.cdnfonts.com/s/17880/samsungsharpsans-bold.woff') format('woff');
}