<div class="testimonies-container">
    <div class="testimonies-header">
         <h3>
             <img src="../../../../../assets/common/icons/comment-quote.svg" alt="" height="32">
             <span>Témoignages récents</span>
         </h3>
    </div>
    <div class="testimonies-wrapper">
        <div class="testimonies-grid">
            <landing-testimony-card></landing-testimony-card>
            <landing-testimony-card></landing-testimony-card>
            <landing-testimony-card></landing-testimony-card>
            <landing-testimony-card></landing-testimony-card>
            <landing-testimony-card></landing-testimony-card>
        </div>
    </div>
</div>