.testimonies{
  &-container{
      width: 100%;
      display: flex;
      row-gap: 2.1rem;
      flex-direction: column;
  }

  &-header{
      display: flex;
      width: 100%;
      align-items: center;
      justify-content: space-between;

      h3{
          font-size: 32px;
          display: flex;
          align-items: center;
          column-gap: 1rem;
          font-family: 'Gilroy-Medium', Inter;
      }

      i{
          display: flex;
          align-items: center;
          justify-content: center;
      }
  }

  &-wrapper{
      display: flex;
      align-items: center;
      position: relative;
      justify-content: space-between;

      &::after{
          right: 0;
          content: '';
          height: 100%;
          width: 8rem;
          position: absolute;
          background-image: linear-gradient(to right, rgba(255,255,255,0), rgba(255,255,255,1));
      }
  }

  &-grid{
      gap: 1rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      scroll-behavior: smooth;
      overflow-x: scroll;
  
      &::-webkit-scrollbar{
          display: none !important;
          visibility: hidden !important;
      }
  }
}