<div class="certs-wrapper">
  <p-timeline [value]="certifications()" align="left" styleClass="customized-timeline">
    <ng-template #marker let-cert>
      <span class="flex w-8 h-8 items-center justify-center rounded-full z-10 bg-white">
        <!--<i [class]="event.icon"></i>-->
        <img src="../../../../../../assets/icons/diploma.svg" alt="certificate" class="w-5">
      </span>
    </ng-template>
    <ng-template #content let-cert>
      <div class="cert-content flex flex-col items-start justify-center w-full">
        <div class="flex flex-col md:flex-row items-start justify-between w-full mb-4 md:mb-6">
          <div>
            <h4 class="content-degree">
              {{cert.name}}
            </h4>
            <p class="font-semibold">{{cert.issuing_organization}}</p>
          </div>
          <div class="content-period flex items-center gap-2">
            <p>{{cert.issue_date | date:'yyyy/MM'}}</p>
          </div>
        </div>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Adipisci, ipsam minus. Nobis ipsum pariatur qui !</p>
      </div>
    </ng-template>
  </p-timeline>
</div>
