<!--Home Container-->
<div class="home-wrapper">
    @defer{
        <!--Hero Section-->
        <landing-hero></landing-hero>
    }

    @defer {
        <!--Recents projects-->
        <landing-recent-projects></landing-recent-projects>
    }
    
    @defer {
        <!--Home XPs & Skills-->
        <landing-xps-skills></landing-xps-skills>
    }

    @defer {
        <!--Home Testimonies-->
        <landing-testimonies></landing-testimonies>
    }

    @defer {
        <!--Home Contact-->
        <home-contact></home-contact>
    }
</div>