@if (!portfolio.rawData()) {
  <div class="min-h-screen flex items-center justify-center">
    <div class="animate-pulse text-emerald-500 font-bold tracking-widest">
      CHARGEMENT...
    </div>
  </div>
} @else {
  <div class="flex flex-col gap-y-10 pt-4 pb-4 px-4 md:px-16 lg:px-28">
    <landing-hero/>

    <landing-recent-projects id="projets"/>

    <landing-expertise id="expertise"/>

    <landing-skills id="stack"/>

    <landing-testimonies id="testimonies"/>

    <home-contact id="contact"/>
  </div>
}
