<!--Home Container-->
<div class="flex flex-col gap-y-10 pt-4 pb-4 px-4 md:px-16 lg:px-28">
  @defer{
  <!--Hero Section-->
  <landing-hero></landing-hero>
  }

  @defer {
  <!--Recents projects-->
  <landing-recent-projects></landing-recent-projects>
  }

  @defer {
  <!--Home XPs & Skills-->
  <landing-xps-skills></landing-xps-skills>
  }

  @defer {
  <!--Home Testimonies-->
  <landing-testimonies></landing-testimonies>
  }

  @defer {
  <!--Home Contact-->
  <home-contact></home-contact>
  }
</div>
