<div class="header-wrapper">
    <a routerLink="/home" class="header-logo">
        <img src="../../../../../assets/images/watojoel-logo.svg" alt="elib_logo" height="28">
    </a>
    <div class="header-nav">
        <a routerLink="/home" class="nav-sub">
            <span>Accueil</span>
        </a>
        <a routerLink="/about-me" class="nav-sub">
            <span>A propos</span>
        </a>
        <a routerLink="/projects" class="nav-sub">
            <span>Projets</span>
        </a>
        <a routerLink="/contact" class="nav-sub">
            <p-button  
                [rounded]="true"
                severity="success">
                <i class="fi fi-sr-mobile-button"></i>
                <span>Me Joindre</span>
            </p-button>
        </a>
    </div>
</div>