<div class="header-wrapper">
  <a routerLink="/home" class="header-logo">
    <img src="../../../../../assets/common/logo/logo.png" alt="wtjoel_logo" height="28">
  </a>
  <div class="header-nav">
    <a routerLink="/home" class="nav-sub home">
      <span>Accueil</span>
    </a>
    <a routerLink="/projects" class="nav-sub">
      <span>Projets</span>
    </a>
    <div class="lang"><p-button
      [rounded]="true"
      severity="secondary"
      (click)="switchLanguage()">  <img
        [src]="isFrench ? '../../../../../assets/icons/frrect.svg' : '../../../../../assets/icons/engrect.svg'"
        [alt]="isFrench ? 'french' : 'english'"
        height="15">
    </p-button>
    </div>
    <div class="bright">
      <p-toggleswitch [(ngModel)]="checked">
        <ng-template #handle let-checked="checked">
          <img
            [src]="[checked ? '../../../../../assets/icons/moon.svg' : '../../../../../assets/icons/brightness.svg']"
            [alt]="[checked ? 'moon' : 'brightness']"
            height="11">
        </ng-template>
      </p-toggleswitch>
    </div>
  </div>
</div>
