<div class="recent-projects-wrapper">
    <div class="recent-projects-header">
         <h3>
             <img src="../../../../../assets/common/icons/trophy-star-alt.svg" alt="" height="32">
             <span>Projets récents</span>
         </h3>
         <a routerLink='/projects'>
             <p-button 
                [rounded]="true"
                severity="secondary">
                 <span>Voir plus</span>
                 <i class="fi fi-sr-arrow-up-right-from-square"></i>
             </p-button>
         </a>
    </div>
    <div class="recent-projects-grid">
        <landing-project-card-minimal></landing-project-card-minimal>
    </div>
 </div>