
@font-face {
    font-family: 'LC Mogi';
    font-style: normal;
    font-weight: 400;
    src: local('LC Mogi'), url('./lcmogi-a.woff') format('woff');
}
@font-face {
    font-family: 'LC Mogib';
    font-style: normal;
    font-weight: 400;
    src: local('LC Mogi'), url('./lcmogi-b.woff') format('woff');
}
@font-face {
    font-family: 'LC Mogic';
    font-style: normal;
    font-weight: 400;
    src: local('LC Mogi'), url('./lcmogi-c.woff') format('woff');
}
@font-face {
    font-family: 'LC Mogivf';
    font-style: normal;
    font-weight: 400;
    src: local('LC Mogi'), url('./lcmogi-vf.woff') format('woff');
}