.project-minimal-card {

  &-header {
    align-items: center;
  }

  &-wrapper {
    background-image: linear-gradient(315deg, #8ae9b3 0%, #c8d6e5 74%);
  }

  &-container {
    overflow: hidden;
    position: relative;
    border: 2.8px solid white;
  }
}

.container {

  &-header,
  &-nav-bar,
  &-content {
    display: flex;
  }

  &-header {
    width: 100%;
    z-index: 10;
    height: 28px;
    background-color: rgb(244, 240, 240);
  }

  &-nav-bar {
    padding: .28rem .56rem;
    align-items: center;
    justify-content: space-between;

    &>img {
      height: 11.2px;
    }
  }

  &-content {
    width: 100%;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: all .3s ease-in;

    &:hover .content-thumb {
      filter: blur(8px);
    }

    &:hover .cta-one,
    &:hover .cta-two,
    &:hover .cta-three,
    &:hover .stack,
    &:hover .absolute-techstack {
      opacity: 1;
      visibility: visible;
    }

    &:hover .cta-one,
    &:hover .cta-two,
    &:hover .cta-three {
      transform: scale(1);
    }
  }
}

.header {

  &-actions,
  &-tab {
    display: flex;
  }

  &-actions {
    gap: .49rem;
    align-items: center;
    padding-left: .91rem;
    justify-content: center;
  }

  &-tab {
    height: 100%;
    align-items: flex-end;
  }

  &-new-tab {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    &>img {
      height: 12.6px;
    }
  }
}

.action {
  height: 8px;
  aspect-ratio: 1/1;
  border-radius: 50%;

  &.oval1 {
    background-color: rgb(255, 85, 79);
  }

  &.oval2 {
    background-color: rgb(255, 192, 47);
  }

  &.oval3 {
    background-color: rgb(41, 207, 66);
  }
}

.tab {
  &-title {
    display: flex;
    height: 84%;
    align-items: center;
  }
}

.title {
  font-size: 11.8px;
  display: flex;
  align-items: center;
  justify-content: center;

  &,
  &-before-inner,
  &-before-outer,
  &-after-inner,
  &-after-outer {
    height: 100%;
    background-color: white;
  }

  &-before-inner,
  &-before-outer,
  &-after-inner,
  &-after-outer {
    width: 10px;
  }

  &-before-outer,
  &-after-outer {
    position: relative;
  }

  &-before-inner {
    border-top-left-radius: 12.6px;
  }

  &-after-inner {
    border-top-right-radius: 12.6px;
  }
}

.outer-abs {

  &-left,
  &-right {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    position: absolute;
    background-color: rgb(244, 240, 240);
  }

  &-left {
    border-bottom-right-radius: 12.6px;
  }

  &-right {
    border-bottom-left-radius: 12.6px;
  }
}

.nav-bar {
  &-url {
    gap: .24rem;
    display: flex;
    align-items: center;
    padding: 0 .56rem;
    width: calc(100% - 100px);
    border-radius: 50px;
    background-color: rgb(240, 234, 234);

    &>img {
      height: 11.2px;
    }

    &>p {
      font-size: 11.2px;
    }
  }
}

.content {
  &-thumb {
    display: flex;
    transition: all .28s ease;

    &>img {
      width: 100%;
      background-size: cover;
    }
  }

  &-absolute {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    flex-direction: column;
    position: absolute;
    transition: all .3s ease;
  }
}

.absolute {

  &-cta,
  &-techstack {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &-cta {
    gap: .7rem;
    height: 100%;
    width: 100%;
  }
}

.cta {

  &-one,
  &-two,
  &-three {
    transform: scale(0);
    opacity: 0;
    visibility: hidden;

    span{
      font-size: 14px;
    }
  }

  &-one {
    transition: all .28s ease;
  }

  &-two {
    transition: all .35s ease;
  }

  &-three {
    transition: all .42s ease;
  }
}

h4 {
  font-size: 20px;
}
