<div class="project-minimal-card-wrapper">
    <div class="project-minimal-card-container">
        <div class="container-header">
            <div class="header-actions">
                <span class="action oval1"></span>
                <a routerLink="/projects/sample_project" matTooltipHideDelay="1000" matTooltip="Ouvrir Around"
                    class="action oval2">
                </a>
                <span class="action oval3"></span>
            </div>
            <div class="header-tab">
                <span class="tab-title">
                    <span class="title-before-outer">
                        <span class="outer-abs-left"></span>
                    </span>
                    <span class="title-before-inner"></span>
                    <span class="title">Around Home</span>
                    <span class="title-after-inner"></span>
                    <span class="title-after-outer">
                        <span class="outer-abs-right"></span>
                    </span>
                </span>
            </div>
            <div class="header-new-tab">
                <p-button 
                    [rounded]="true"
                    severity="secondary">
                    <img src="../../../../../../assets/common/icons/plus.svg" alt="" height="10">
                </p-button>
            </div>
        </div>
        <div class="container-nav-bar">
            <img src="../../../../../../assets/common/icons/angle-small-left.svg" alt="angle-small-left">
            <img src="../../../../../../assets/common/icons/angle-small-right.svg" alt="angle-small-right">
            <img src="../../../../../../assets/common/icons/house-blank2.svg" alt="web-home">
            <div class="nav-bar-url">
                <img src="../../../../../../assets/common/icons/padlock-check@br.svg" alt="mobile-lock-check">
                <p>https://theapparound.com</p>
            </div>
            <img src="../../../../../../assets/common/icons/menu-dots-vertical.svg" alt="mobile-menu">
        </div>
        <div class="container-content">
            <div class="content-thumb">
                <img src="../../../../../../assets/images/theapparound_showcase.avif" alt="around-login">
            </div>
            <div class="content-absolute">
                <div class="absolute-cta">
                    <a routerLink="/home" class="cta-one">
                        <p-button 
                            [rounded]="true"
                            severity="primary">
                            <i class="fi fi-sc-play"></i>
                        </p-button>
                    </a>
                    <a routerLink="/home" class="cta-two">
                        <p-button 
                            [rounded]="true"
                            severity="secondary">
                            <img src="../../../../../../assets/common/icons/arrow-up-right-from-square.svg" alt=""
                                height="21">
                            <span>Aperçu</span>
                        </p-button>
                    </a>
                    <a routerLink="/home" class="cta-three">
                        <p-button 
                            [rounded]="true"
                            severity="secondary">
                            <img src="../../../../../../assets/common/icons/github.svg" alt="" height="21">
                            <span>Source</span>
                        </p-button>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="project-minimal-card-mobile-container">
        <div class="mobile-card-s23">
            <div class="mobile-card-container">
                <div class="mobile-card-header">
                    <span class="header-dynamic-hour">8:30</span>
                    <!-- <img src="../../../../../assets/icons/common/s22lens.svg" alt="s22lens" class="lens"> -->
                    <div class="header-dynamic-icons">
                        <img src="../../../../../../assets/common/icons/signalfull.svg" alt="mobile-signal">
                        <img src="../../../../../../assets/common/icons/wififull.svg" alt="mobile-wifi">
                        <img src="../../../../../../assets/common/icons/batterybolt.svg" alt="mobile-battery">
                    </div>
                </div>
                <div class="mobile-card-nav-bar">
                    <img src="../../../../../../assets/common/icons/house-blank2.svg" alt="mobile-home">
                    <div class="nav-bar-url">
                        <img src="../../../../../../assets/common/icons/padlock-check@br.svg" alt="mobile-lock-check">
                        <p>theapparound.com</p>
                    </div>
                    <img src="../../../../../../assets/common/icons/tabs.svg" alt="mobile-tabs">
                    <img src="../../../../../../assets/common/icons/menu-dots-vertical.svg" alt="mobile-menu">
                </div>
                <div class="mobile-card-content">
                    <img src="../../../../../../assets/images/around-home.jpeg">
                </div>
                <div class="mobile-card-swiper-bar">
                    <div class="swiper-bar"></div>
                </div>
            </div>
        </div>
    </div>
</div>