<div class="project-minimal-card flex flex-col">
  <div class="project-minimal-card-wrapper p-8 rounded-3xl bg-slate-300">
    <div class="project-minimal-card-container rounded-2xl bg-white">
      <div class="container-header">
        <div class="header-actions">
          <span class="action oval1"></span>
          <span class="action oval2"></span>
          <span class="action oval3"></span>
        </div>
        <div class="header-tab">
          <span class="tab-title">
            <span class="title-before-outer">
              <span class="outer-abs-left"></span>
            </span>
            <span class="title-before-inner"></span>
            <span class="title">{{project.title}}</span>
            <span class="title-after-inner"></span>
            <span class="title-after-outer">
              <span class="outer-abs-right"></span>
            </span>
          </span>
        </div>
        <div class="header-new-tab">
          <p-button [rounded]="true" severity="secondary">
            <img src="../../../../../../assets/common/icons/plus.svg" alt="" height="10">
          </p-button>
        </div>
      </div>
      <div class="container-nav-bar">
        <img src="../../../../../../assets/common/icons/angle-small-left.svg" alt="angle-small-left">
        <img src="../../../../../../assets/common/icons/angle-small-right.svg" alt="angle-small-right">
        <img src="../../../../../../assets/common/icons/house-blank2.svg" alt="web-home">
        <div class="nav-bar-url">
          <img src="../../../../../../assets/common/icons/padlock-check@br.svg" alt="mobile-lock-check">
          <p>{{project.projectUrl}}</p>
        </div>
        <div class="fake-menu">
          <p-button [rounded]="true" severity="secondary">
            <img src="../../../../../../assets/common/icons/menu-dots-vertical.svg" alt="mobile-menu" height="11">
          </p-button>
        </div>
      </div>
      <div class="container-content">
        <div class="content-thumb">
          <img [src]="['../../../../../../assets/images' + project.thumbnailPath]" alt="around-login">
        </div>
        <div class="content-absolute">
          <div class="absolute-cta">
            <a [href]="[project.projectUrl]" class="cta-one">
              <p-button [rounded]="true" severity="contrast">
                <img src="../../../../../../assets/icons/play.svg" alt="play.svg" height="20">
              </p-button>
            </a>
            <a [href]="[project.previewUrl]" class="cta-two">
              <p-button [rounded]="true" severity="secondary">
                <img src="../../../../../../assets/common/icons/arrow-up-right-from-square.svg" alt="" height="21">
                <span>Aperçu</span>
              </p-button>
            </a>
            <a [href]="[project.githubUrl]" class="cta-three">
              <p-button [rounded]="true" severity="secondary">
                <img src="../../../../../../assets/common/icons/github.svg" alt="" height="21">
                <span>Source</span>
              </p-button>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="resume flex flex-col gap-4 pt-4 pb-4">
    <h4>{{project.title}}</h4>
    <p>{{project.description}}</p>
    <div class="resume-techstack flex items-center justify-start gap-2 flex-wrap">
      @for (skill of project.techstack; track $index) {
      <span class="text-white text-sm bg-black rounded-full pt-1 pb-1 pl-4 pr-4">{{skill.name}}</span>
      }
    </div>
  </div>
</div>
