@font-face {
    font-family: 'Montserrat Regular';
    font-style: normal;
    font-weight: 400;
    src: local('Montserrat'), url('./Montserrat-Regular.woff') format('woff');
}
@font-face {
    font-family: 'Montserrat Italic';
    font-style: italic;
    font-weight: 400;
    src: local('Montserrat'), url('./Montserrat-Italic.woff') format('woff');
}
@font-face {
    font-family: 'Montserrat Bold';
    font-style: normal;
    font-weight: 700;
    src: local('Montserrat'), url('./Montserrat-Bold.woff') format('woff');
}
@font-face {
    font-family: 'Montserrat Bold Italic';
    font-style: italic;
    font-weight: 700;
    src: local('Montserrat'), url('./Montserrat-BoldItalic.woff') format('woff');
}
@font-face {
    font-family: 'Montserrat Black';
    font-style: normal;
    font-weight: 900;
    src: local('Montserrat'), url('./Montserrat-Black.woff') format('woff');
}
@font-face {
    font-family: 'Montserrat Black Italic';
    font-style: italic;
    font-weight: 900;
    src: local('Montserrat'), url('./Montserrat-BlackItalic.woff') format('woff');
}

