<div class="educations-wrapper">
  <p-timeline
    [value]="educations()"
    align="left"
    styleClass="customized-timeline">
    <ng-template #marker let-education>
      <span class="flex w-8 h-8 items-center justify-center rounded-full z-10 bg-white">
        <!--<i [class]="event.icon"></i>-->
        <img
          src="../../../../../../assets/icons/graduation-cap dt.svg"
          alt="graduation-cap dt.svg"
          class="w-5">
      </span>
    </ng-template>
    <ng-template #content let-education>
      <div class="education-content flex flex-col items-start justify-center w-full">
        <div class="flex flex-col md:flex-row items-start justify-between w-full mb-4 md:mb-6">
          <div>
            <h4 class="content-degree">{{education.degree}}</h4>
            <p class="font-semibold">{{education.institution}}</p>
          </div>
          <div class="content-period">
            <p>{{education.start_date | date:'yyyy/MM'}}</p>
            <span>-</span>
            <p>{{education.end_date | date:'yyyy/MM'}}</p>
          </div>
        </div>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Adipisci, ipsam minus. Nobis ipsum pariatur qui !</p>
        <div class="flex items-center justify-start gap-3 mt-4 mb-4">
          <span class="rounded-full bg-white pb-2 pt-2 pl-3 pr-3">Angular</span>
          <span class="rounded-full bg-white pb-2 pt-2 pl-3 pr-3">Directus</span>
        </div>
      </div>
    </ng-template>
  </p-timeline>
</div>
