@switch (layout) {
    <!-- ----------------------------------------------------------------------------------------------------- -->
    <!-- Empty layout -->
    <!-- ----------------------------------------------------------------------------------------------------- -->
    @case ('empty') {
        <empty></empty>
    }

    <!-- ----------------------------------------------------------------------------------------------------- -->
    <!-- Layouts with horizontal navigation -->
    <!-- ----------------------------------------------------------------------------------------------------- -->

    <!-- Customer & Guest -->
    @case ('landing') {
        <landing></landing>
    }
}
