.testimony-card {
	padding: 1rem;
	&,
	&-profile,
	&-message {
		display: flex;
		align-items: center;
	}

	&,
	&-message {
		flex-direction: column;
	}

	&-message,
	&-profile{
		width: 100%;
	}

	&-profile {
		gap: 0.42rem;
		justify-content: space-between;

		h4 {
			font-size: 18.2px;
		}

		span {
			font-size: 17.5px;
		}
	}

	&-message {
		gap: 0.8rem;
		width: 100%;
	}
}

.role-name {
	gap: 0.8rem;
	display: flex;
	flex-direction: column;
}
