<div class="hero-wrapper">
    <h2 class="hero-title">
        <span class="title-fullname">Wafo Tokam Joël</span>
        <span class="title-job">/Software Engineer</span>
    </h2>
    <div class="hero-headline-tagline">
        <h2 class="hero-headline">Création d'interfaces web modernes & dynamiques avec Angular.</h2>
        <p class="hero-tagline">Code propre, Expérience Utilisateur fluide (Seamless UX).</p>
    </div>
    <img src="../../../../../assets/common/icons/mouse.svg" alt="mouse.alt" height="24">
    <img src="../../../../../assets/common/icons/verticalscroll.svg" alt="" height="80">
</div>