<div class="hero-wrapper">
    <div class="hero-text">
        <h2 class="hero-title">Développeur Web</h2>
        <h2 class="hero-headline">Construction d'applications web modernes & dynamiques.</h2>
        <p class="hero-welcome">
            Bienvenue dans mon portfolio ! Je m'appelle Wafo Joël et je prend plaisir à la création d'interfaces fluides, UI conviviales et d'UX agréables. Explorez mes projets pour voir comment je donne vie à des idées grâce à un code épuré et un design innovant."
        </p>
        <div class="hero-cta">
            <a routerLink="/contact" class="cta-contact">
                <p-button  
                    [rounded]="true"
                    severity="success">
                    <i class="fi fi-sr-hand-wave"></i>
                    <span>Me contacter</span>
                </p-button>
            </a>
            <a href="../../../../../assets/common/files/cv-joel-wafo.pdf" class="cta-cv">
                <p-button  
                    [rounded]="true"
                    icon="pi pi-arrow-down"
                    severity="success"/>
                <span>Télécharger mon CV</span>
            </a>
        </div>
    </div>
    <div class="hero-thumb">
        <img src="../../../../../assets/images/fulllstackportfolio.png" alt="fulllstackportfolio.png" height="560">
    </div>
</div>