.content{
  &-degree{
    font-size: 20px;
    font-family: 'Gilroy-Bold';
  }

  &-period{
    display: flex;
    align-items: center;
    font-weight: 600;
    column-gap: .42rem;
  }
}

i{ font-size: 16px; }
