<div id="stack" class="skills-container">
  <div class="skills-header flex w-full items-center justify-between">
    <h3 class="font-gloock flex items-center gap-4 text-center text-[28px]">
      <i class="fi fi-sr-comment-quote"></i>
      <span>Ce que j'utilise</span>
    </h3>
  </div>
  <div class="grid w-full grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 gap-5 rounded-[28px]">
    @for (skill of skills(); track skill.id) {
      <div class="skill-card flex flex-col items-center justify-center rounded-2xl p-4 gap-2 text-[15px] bg-gray-100 transition-all duration-300 hover:bg-transparent hover:cursor-pointer">
        <img
          [alt]="skill.name"
          loading="lazy"
          class="rounded-lg h-7"
          [src]="['https://brain.joelwafotokam.dev/assets/' + skill.logo_path]">
          <span>{{skill.name}}</span>
      </div>
    }
  </div>
</div>
