<div class="xps-skills-wrapper">
    <div class="xps-skills-header">
        <h3>
            <img src="../../../../../assets/common/icons/dev.svg" alt="" height="35">
            <span>XPs & Technologies</span>
        </h3>
    </div>
    <div class="xps-skills-container">
        <div class="xps-container">
        </div>
        <div class="skills-container">
            <div class="skill-card">
                <img src="../../../../../assets/icons/techstack/angular.svg" loading="lazy" alt="">
                <span>Angular</span>
            </div>
            <div class="skill-card">
                <img src="../../../../../assets/icons/techstack/NgRx.svg" loading="lazy" alt="">
                <span>NgRx</span>
            </div>
            <div class="skill-card">
                <img src="../../../../../assets/icons/techstack/html5.svg" loading="lazy" alt="">
                <span>HTML5</span>
            </div>
            <div class="skill-card">
                <img src="../../../../../assets/icons/techstack/css3.svg" loading="lazy" alt="">
                <span>CSS3</span>
            </div>
            <div class="skill-card">
                <img src="../../../../../assets/icons/techstack/material.svg" loading="lazy" alt="">
                <span>Material</span>
            </div>
            <div class="skill-card">
                <img src="../../../../../assets/icons/techstack/primeng_f.svg" loading="lazy" alt="">
                <span>Primeng</span>
            </div>
            <div class="skill-card">
                <img src="../../../../../assets/icons/techstack/sass.svg" loading="lazy" alt="">
                <span>Sass</span>
            </div>
            <div class="skill-card">
                <img src="../../../../../assets/icons/techstack/ts.svg" loading="lazy" alt="">
                <span>TypeScript</span>
            </div>
            <div class="skill-card">
                <img src="../../../../../assets/icons/techstack/docker.svg" loading="lazy" alt="">
                <span>Docker</span>
            </div>
            <div class="skill-card">
                <img src="../../../../../assets/icons/techstack/strapi.svg" loading="lazy" alt="">
                <span>Strapi</span>
            </div>
            <div class="skill-card">
                <img src="../../../../../assets/icons/techstack/directus.svg" loading="lazy" alt="">
                <span>Directus</span>
            </div>
            <div class="skill-card">
                <img src="../../../../../assets/icons/techstack/supabase.svg" loading="lazy" alt="">
                <span>Supabase</span>
            </div>
            <div class="skill-card">
                <img src="../../../../../assets/icons/techstack/flutter.svg" loading="lazy" alt="">
                <span>Flutter</span>
            </div>
            <div class="skill-card">
                <img src="../../../../../assets/icons/techstack/ionic.svg" loading="lazy" alt="">
                <span>Ionic</span>
            </div>
            <div class="skill-card">
                <img src="../../../../../assets/icons/techstack/git.svg" loading="lazy" alt="">
                <span>Git</span>
            </div>
        </div>
    </div> 
</div>