<div class="xps-skills-wrapper">
  <div class="xps-skills-header">
    <h3>
      <img src="../../../../../assets/common/icons/dev.svg" alt="" height="28">
      <span>Expertise & Technologies</span>
    </h3>
  </div>
  <div class="xps-skills-container flex w-full items-start justify-center gap-5">
    <div class="xps-container flex flex-col w-full">
      <p-tabs value="1" scrollable>
        <p-tablist>
          <p-tab value="0">
            <span pRipple class="flex items-center gap-2 bg-slate-200 pt-3 pb-3 pl-5 pr-5">
              <img src="../../../../../assets/icons/briefcase.svg" alt="briefcase" height="21">
              <span>Expérience pro</span>
            </span>
          </p-tab>
          <p-tab value="1">
            <span pRipple class="flex items-center gap-2 bg-slate-200 pt-3 pb-3 pl-5 pr-5">
              <img src="../../../../../assets/icons/graduation-cap dt.svg" alt="graduation" height="21">
              <span>Education</span>
            </span>
          </p-tab>
          <p-tab value="2">
            <span pRipple class="flex items-center gap-2 bg-slate-200 pt-3 pb-3 pl-5 pr-5">
              <img src="../../../../../assets/icons/diploma.svg" alt="briefcase" height="21">
              <span>Certifications</span>
            </span>
          </p-tab>
        </p-tablist>
        <p-tabpanels>
          <p-tabpanel value="0">
            <div class="flex items-center justify-center w-full bg-gray-100 pt-8 pb-8 pl-7 pr-7 rounded-3xl">
              <work-experiences></work-experiences>
            </div>
          </p-tabpanel>
          <p-tabpanel value="1">
            <div class="flex items-center justify-center w-full bg-gray-100 pt-8 pb-8 pl-7 pr-7 rounded-3xl">
              <educations></educations>
            </div>
          </p-tabpanel>
          <p-tabpanel value="2">
            <div class="flex items-center justify-center w-full bg-gray-100 pt-8 pb-8 pl-7 pr-7 rounded-3xl">
              <certificates></certificates>
            </div>
          </p-tabpanel>
        </p-tabpanels>
      </p-tabs>
    </div>
    <div class="skills-container grid w-full grid-cols-5 gap-5">
      @for (skill of (skills$ | async) || []; track $index) {
        <div class="skill-card">
          <img
            [src]="['../../../../../assets/icons/techstack'+skill.logoPath]"
            [alt]="skill.name"
            loading="lazy">
          <span>{{skill.name}}</span>
        </div>
      }
    </div>
  </div>
</div>
